
//FONTS
$fontRoboto: 'Roboto', 'Ubuntu', 'Cantarell', 'Helvetica', sans-serif;
$fontPalatinoLinotype: 'Palatino Linotype', sans-serif;

//COLORS
$white: white;
$blue: #49adad;
$black: black;
$grey: #efefef;
$red: #ea452f;
$darkgrey:#607d8b;